//@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Courier New', Courier, monospace;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.6rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}